@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(50deg,#1fbbc9,pink);
    height: 100vh;
    color: rgb(177, 90, 165);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    
}
.calculadora{
    position: absolute;
    background-color:pink;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    background-color: rgb(151, 245, 245, 0.8);
    width: 50px ;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    color: rgb(223, 129, 218);
    margin: 3px;

}
.botao:hover{
    background-color: rgb(20, 220, 200);
}
.botao-igual{
    height: 106px;
}
.botao-zero{
    width: 106px;
}
#resultado{
    width: 207px;
    background-color: rgb(228, 210, 227);
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgb(59, 158, 190);
    text-align: right;
    padding: 5px;
    font-weight: bolder;
}
